before_script:
  - docker login $CI_REGISTRY --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD

stages:
  - build
  - deployment_kubernetes
  

build:
  stage: build
  image: registry.uicgroup.tech/devops/docker:dind
  before_script:
    - docker login $CI_REGISTRY --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD
  script:
    - make vars-input KEYS=$DEV_KEYS 
    - make build-image TAG=$CI_PIPELINE_IID SERVICE_NAME=$CI_PROJECT_NAME PROJECT_NAME=$CI_PROJECT_NAMESPACE REGISTRY=$CI_REGISTRY ENV_TAG=latest
    - make push-image TAG=$CI_PIPELINE_IID SERVICE_NAME=$CI_PROJECT_NAME PROJECT_NAME=$CI_PROJECT_NAMESPACE REGISTRY=$CI_REGISTRY ENV_TAG=latest 
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - package.json
      when: never
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: always

build-base:
  stage: build
  image: registry.uicgroup.tech/devops/docker:dind
  before_script:
    - docker login $CI_REGISTRY --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD
  script:
    - make vars-input KEYS=$DEV_KEYS 
    - make build-base-image TAG=$CI_PIPELINE_IID SERVICE_NAME=$CI_PROJECT_NAME PROJECT_NAME=$CI_PROJECT_NAMESPACE REGISTRY=$CI_REGISTRY ENV_TAG=latest
    - make push-base-image TAG=$CI_PIPELINE_IID SERVICE_NAME=$CI_PROJECT_NAME PROJECT_NAME=$CI_PROJECT_NAMESPACE REGISTRY=$CI_REGISTRY ENV_TAG=latest 
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - package.json
      when: always

deploy_k8s:
  stage: deployment_kubernetes
  script:
    - export KUBECONFIG=~/.kube/config
    - cd /root/helm_charts-master/microservice_v2 && helm upgrade frontend --values values.yaml --set image.tag=$CI_PIPELINE_IID .
  tags: 
    - master_runner_k8s
  only:
    - k8s-new 

