{
    "swagger": "2.0",
    "info": {
        "title": "Chakana Api",
        "description": "UIC Group",
        "termsOfService": "https://www.google.com/policies/terms/",
        "contact": {
            "email": "info@uic.group"
        },
        "license": {
            "name": "BSD License"
        },
        "version": "v1"
    },
    "host": "chakana-api.uicgroup.tech",
    "schemes": [
        "https",
        "http"
    ],
    "basePath": "/api/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "Basic": {
            "type": "basic"
        }
    },
    "security": [
        {
            "Basic": []
        }
    ],
    "paths": {
        "/auth/delete-account/": {
            "post": {
                "operationId": "auth_delete-account_create",
                "summary": "Delete User Account",
                "description": "\nDelete the authenticated user's account.\n\n**Important Notes:**\n- This action is irreversible\n- The user's phone number will be modified to prevent future logins\n- The account will be deactivated\n- No confirmation required - direct deletion\n\n**Request Body:**\n```json\n{}\n```\n\n**Response:**\n```json\n{\n    \"success\": true,\n    \"message\": \"Account has been successfully deleted\",\n    \"deleted_at\": \"2024-01-15T10:30:00Z\",\n    \"user_id\": 123\n}\n```\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserDeleteAccount"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Account deleted successfully",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "message": "Account has been successfully deleted",
                                "deleted_at": "2024-01-15T10:30:00Z",
                                "user_id": 123
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required"
                    }
                },
                "tags": [
                    "User Account"
                ]
            },
            "parameters": []
        },
        "/auth/login/": {
            "post": {
                "operationId": "auth_login_create",
                "summary": "User Login with Username/Password",
                "description": "\nAuthenticate user with username and password to get JWT tokens.\n\n**Legacy Authentication Method**: This endpoint is kept for backward compatibility.\nNew users should use phone-based authentication.\n\n**Response**: Returns access token, refresh token, and user profile data.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "required": [
                                "username",
                                "password"
                            ],
                            "type": "object",
                            "properties": {
                                "username": {
                                    "description": "Username for authentication",
                                    "type": "string",
                                    "example": "john_doe"
                                },
                                "password": {
                                    "description": "User password",
                                    "type": "string",
                                    "example": "securepassword123"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "examples": {
                            "application/json": {
                                "access": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                                "refresh": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                                "user": {
                                    "id": 1,
                                    "username": "john_doe",
                                    "full_name": "John Doe",
                                    "email": "john@example.com",
                                    "phone_number": "998901234567"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "examples": {
                            "application/json": {
                                "detail": "No active account found with the given credentials"
                            }
                        }
                    }
                },
                "tags": [
                    "Login"
                ]
            },
            "parameters": []
        },
        "/auth/phone/send-sms/": {
            "post": {
                "operationId": "auth_phone_send-sms_create",
                "summary": "Send SMS Code for Phone Login",
                "description": "Send a 6-digit SMS verification code to the provided phone number for login.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PhoneLoginSms"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PhoneLoginSms"
                        }
                    }
                },
                "tags": [
                    "Login"
                ]
            },
            "parameters": []
        },
        "/auth/phone/verify/": {
            "post": {
                "operationId": "auth_phone_verify_create",
                "summary": "Verify SMS Code and Login",
                "description": "\nVerify the SMS code and login with phone number.\n\n**Development Note**: Use '081020' as the SMS code for testing.\n\n**Rate Limiting**: Maximum 5 verification attempts per session with 5-minute lockout.\n\n**Response**: \n- If user exists: Returns JWT tokens and user data\n- If user doesn't exist: Returns registration_required flag\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PhoneLoginVerify"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "message": "Login successful",
                                "access": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                                "refresh": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                                "user": {
                                    "id": 1,
                                    "username": "user_123",
                                    "full_name": "John Doe",
                                    "email": "john@example.com",
                                    "phone_number": "998901234567",
                                    "instagram_link": "https://instagram.com/johndoe",
                                    "telegram_link": "https://t.me/johndoe",
                                    "date_joined": "2024-01-01T00:00:00Z",
                                    "last_login": "2024-01-01T00:00:00Z"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "User needs to register",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "message": "Phone number verified. Please complete registration.",
                                "registration_required": true,
                                "session_id": "12345678-1234-1234-1234-123456789012",
                                "phone_number": "998901234567"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid code or session",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Invalid verification code"
                            }
                        }
                    },
                    "429": {
                        "description": "Too many attempts",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Too many attempts! Try again in 5 minutes"
                            }
                        }
                    }
                },
                "tags": [
                    "Login"
                ]
            },
            "parameters": []
        },
        "/auth/profile/": {
            "get": {
                "operationId": "auth_profile_read",
                "summary": "Get User Profile",
                "description": "\nRetrieve the current authenticated user's profile information.\n\n**Authentication Required**: This endpoint requires a valid JWT access token.\n\n**Response**: Returns complete user profile including:\n- Personal information (name, email, phone)\n- Social media links (Instagram, Telegram)\n- Avatar image URL\n- Notification preferences\n- Account status and dates\n",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "User profile retrieved successfully",
                        "examples": {
                            "application/json": {
                                "id": 1,
                                "username": "john_doe_1",
                                "full_name": "John Doe",
                                "email": "john@example.com",
                                "phone_number": "998901234567",
                                "instagram_link": "https://instagram.com/johndoe",
                                "telegram_link": "https://t.me/johndoe",
                                "avatar": "http://localhost:8000/media/user_avatars/profile_avatar.jpg",
                                "avatar_url": "http://localhost:8000/media/user_avatars/profile_avatar.jpg",
                                "is_notification_enabled": true,
                                "date_joined": "2024-01-15T10:30:00Z",
                                "last_login": "2024-01-20T14:25:00Z"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "examples": {
                            "application/json": {
                                "detail": "Authentication credentials were not provided."
                            }
                        }
                    }
                },
                "tags": [
                    "Profile"
                ]
            },
            "parameters": []
        },
        "/auth/profile/update/": {
            "put": {
                "operationId": "auth_profile_update_update",
                "summary": "Update User Profile (Full)",
                "description": "\nUpdate the current authenticated user's profile information (full update).\n\n**Authentication Required**: This endpoint requires a valid JWT access token.\n\n**Full Update**: All fields should be provided for a complete update.\nUse PATCH for partial updates instead.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserUpdate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "examples": {
                            "application/json": {
                                "id": 1,
                                "username": "john_doe_1",
                                "full_name": "John Doe",
                                "email": "john@example.com",
                                "phone_number": "998901234567",
                                "instagram_link": "https://instagram.com/johndoe",
                                "telegram_link": "https://t.me/johndoe",
                                "avatar": "http://localhost:8000/media/user_avatars/profile_avatar.jpg",
                                "avatar_url": "http://localhost:8000/media/user_avatars/profile_avatar.jpg",
                                "is_notification_enabled": true,
                                "date_joined": "2024-01-15T10:30:00Z",
                                "last_login": "2024-01-20T14:25:00Z"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data provided",
                        "examples": {
                            "application/json": {
                                "email": [
                                    "Enter a valid email address."
                                ],
                                "full_name": [
                                    "This field is required."
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "examples": {
                            "application/json": {
                                "detail": "Authentication credentials were not provided."
                            }
                        }
                    }
                },
                "tags": [
                    "Profile"
                ]
            },
            "patch": {
                "operationId": "auth_profile_update_partial_update",
                "summary": "Update User Profile",
                "description": "\nUpdate the current authenticated user's profile information.\n\n**Authentication Required**: This endpoint requires a valid JWT access token.\n\n**Supported Updates**:\n- Personal information (full name, email)\n- Social media links (Instagram, Telegram)\n- Avatar image upload\n- Notification preferences\n\n**File Upload**: Use multipart/form-data for avatar uploads.\nSupported formats: JPG, PNG, GIF\n\n**Partial Updates**: You can update only specific fields - all fields are optional.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserUpdate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "examples": {
                            "application/json": {
                                "id": 1,
                                "username": "john_doe_1",
                                "full_name": "John Doe Updated",
                                "email": "john.updated@example.com",
                                "phone_number": "998901234567",
                                "instagram_link": "https://instagram.com/johndoe_new",
                                "telegram_link": "https://t.me/johndoe_new",
                                "avatar": "http://localhost:8000/media/user_avatars/new_avatar.jpg",
                                "avatar_url": "http://localhost:8000/media/user_avatars/new_avatar.jpg",
                                "is_notification_enabled": false,
                                "date_joined": "2024-01-15T10:30:00Z",
                                "last_login": "2024-01-20T14:25:00Z"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data provided",
                        "examples": {
                            "application/json": {
                                "email": [
                                    "Enter a valid email address."
                                ],
                                "full_name": [
                                    "This field is required."
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "examples": {
                            "application/json": {
                                "detail": "Authentication credentials were not provided."
                            }
                        }
                    }
                },
                "tags": [
                    "Profile"
                ]
            },
            "parameters": []
        },
        "/auth/refresh/": {
            "post": {
                "operationId": "auth_refresh_create",
                "summary": "Refresh JWT Access Token",
                "description": "\nRefresh an expired access token using a valid refresh token.\n\n**Usage**: When your access token expires (typically after 1 hour), use this endpoint\nto get a new access token without requiring the user to login again.\n\n**Token Expiry**: \n- Access tokens expire after 1 hour\n- Refresh tokens expire after 7 days\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "required": [
                                "refresh"
                            ],
                            "type": "object",
                            "properties": {
                                "refresh": {
                                    "description": "Valid refresh token",
                                    "type": "string",
                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token refreshed successfully",
                        "examples": {
                            "application/json": {
                                "access": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or expired refresh token",
                        "examples": {
                            "application/json": {
                                "detail": "Token is invalid or expired"
                            }
                        }
                    }
                },
                "tags": [
                    "JWT"
                ]
            },
            "parameters": []
        },
        "/auth/register/": {
            "post": {
                "operationId": "auth_register_create",
                "summary": "User Registration",
                "description": "\nRegister a new user with verified phone number.\n\n**Prerequisites**: \n- Phone number must be verified using SMS verification\n- Valid session ID from SMS verification must be provided\n\n**No Password Required**: Users authenticate via phone/SMS, not passwords.\nA random password is generated automatically for system compatibility.\n\n**Profile Information**: Users can provide optional profile information\nincluding social media links and avatar image.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserRegistration"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "access": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                                "refresh": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid data or verification required",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Phone not verified or verification expired"
                            }
                        }
                    }
                },
                "tags": [
                    "Registration"
                ]
            },
            "parameters": []
        },
        "/auth/send/sms/": {
            "post": {
                "operationId": "auth_send_sms_create",
                "summary": "Send SMS Code for Registration (Legacy)",
                "description": "\nSend a 6-digit SMS verification code to the provided phone number for user registration.\n\n**Legacy Endpoint**: This endpoint is kept for backward compatibility.\nFor login, use the new phone-based authentication endpoints.\n\n**Rate Limiting**: Maximum 3 SMS requests per phone number per minute.\n\n**Phone Number Format**: Accepts various formats:\n- +998901234567\n- 998901234567\n- +998 90 123 45 67\n- 998 90 123 45 67\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SendLoginSms"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SMS code sent successfully"
                    },
                    "400": {
                        "description": "Invalid phone number"
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "tags": [
                    "Registration"
                ]
            },
            "parameters": []
        },
        "/auth/verify/sms/": {
            "post": {
                "operationId": "auth_verify_sms_create",
                "summary": "Verify SMS Code for Registration (Legacy)",
                "description": "\nVerify the SMS code sent to the phone number for user registration.\n\n**Legacy Endpoint**: This endpoint is kept for backward compatibility.\nFor login, use the new phone-based authentication endpoints.\n\n**Session Management**: The session ID from the SMS send response must be provided.\nThe verification code expires after 5 minutes.\n\n**Rate Limiting**: Maximum 5 verification attempts per session.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/VerifySms"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SMS code verified successfully",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "message": "SMS code verified successfully",
                                "session_id": "12345678-1234-1234-1234-123456789012",
                                "phone_number": "998901234567"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid code or session",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Invalid verification code"
                            }
                        }
                    },
                    "429": {
                        "description": "Too many attempts",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Too many attempts! Try again in 5 minutes"
                            }
                        }
                    }
                },
                "tags": [
                    "Registration"
                ]
            },
            "parameters": []
        },
        "/brands/": {
            "get": {
                "operationId": "brands_list",
                "description": "List all product brands",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer"
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/ProductBrand"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "brands"
                ]
            },
            "parameters": []
        },
        "/categories/": {
            "get": {
                "operationId": "categories_list",
                "summary": "📂 Product Categories List",
                "description": "\nGet a list of product categories with advanced filtering and caching.\n\n## 🎯 Key Features\n- **Branch-specific filtering** - Filter categories by products available in specific branch\n- **Performance optimized** - Uses caching and optimized queries\n- **Hierarchical support** - Include nested children with configurable depth\n- **Search functionality** - Search in category titles and slugs\n- **Flexible ordering** - Order by various fields\n\n## 🔍 Filtering Options\n\n### 📍 **Branch Filtering**\n- `branch_id` - Filter categories that have products available in this branch\n- Only returns categories with active products in the specified branch\n- Optimized with subqueries for better performance\n\n### 🏗️ **Hierarchical Filtering**\n- `parent` - Filter by parent category (null for root categories)\n- `include_children` - Include nested children (true/false)\n- `max_depth` - Maximum depth for nested children (default: 3)\n\n### 🔍 **Search & Ordering**\n- `search` - Search in title and slug fields\n- `ordering` - Order by field (order, -order, id, -id, title, -title, etc.)\n\n## ⚡ Performance Features\n- **Intelligent caching** - Results cached for 5 minutes based on query parameters\n- **Optimized queries** - Uses select_related and prefetch_related\n- **Subquery optimization** - Efficient branch filtering with minimal database hits\n- **Smart counting** - Product counts reflect branch availability when filtered\n\n## 📊 Response Structure\nEach category includes:\n- Basic info (id, title, slug, icon, order)\n- Hierarchical data (parent, children_count)\n- Product counts (products_count - reflects branch filtering)\n- Nested children (if include_children=true)\n",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in title and slug fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "branch_id",
                        "in": "query",
                        "description": "Filter categories by products available in this branch",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "parent",
                        "in": "query",
                        "description": "Filter by parent category ID (null for root categories)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Order by field (order, -order, id, -id, title, -title, created_at, -created_at, children_count, -children_count, products_count, -products_count)",
                        "required": false,
                        "type": "string",
                        "default": "order,-id"
                    },
                    {
                        "name": "include_children",
                        "in": "query",
                        "description": "Include nested children (true/false)",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "max_depth",
                        "in": "query",
                        "description": "Maximum depth for nested children",
                        "required": false,
                        "type": "integer",
                        "default": 3
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductCategoryList"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters"
                    }
                },
                "tags": [
                    "Product Categories"
                ]
            },
            "parameters": []
        },
        "/categories/tree/": {
            "get": {
                "operationId": "categories_tree_list",
                "summary": "Get the complete category tree with all nested children.",
                "description": "Query Parameters:\n- root_only: Return only root categories (true/false)\n- max_depth: Maximum depth for nested children (default: 5)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "categories"
                ]
            },
            "parameters": []
        },
        "/categories/{id}/": {
            "get": {
                "operationId": "categories_read",
                "summary": "Retrieve a specific product category with its children.",
                "description": "Query Parameters:\n- include_children: Include nested children (true/false)\n- max_depth: Maximum depth for nested children (default: 3)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProductCategoryDetail"
                        }
                    }
                },
                "tags": [
                    "categories"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this Product Category.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/categories/{id}/children/": {
            "get": {
                "operationId": "categories_children_list",
                "summary": "Get all children of a specific category.",
                "description": "Query Parameters:\n- recursive: Include all nested children recursively (true/false)\n- max_depth: Maximum depth for nested children (default: 3)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "categories"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/chakana-id-token/": {
            "post": {
                "operationId": "chakana-id-token_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ChakanaLogin"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ChakanaLogin"
                        }
                    }
                },
                "tags": [
                    "chakana-id-token"
                ]
            },
            "parameters": []
        },
        "/common/FrontendTranslations/": {
            "get": {
                "operationId": "common_FrontendTranslations_list",
                "description": "",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Key",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer"
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/FrontendTranslation"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "common"
                ]
            },
            "parameters": []
        },
        "/common/VersionHistory/": {
            "get": {
                "operationId": "common_VersionHistory_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "common"
                ]
            },
            "parameters": []
        },
        "/common/address/": {
            "get": {
                "operationId": "common_address_list",
                "summary": "Reverse Geocoding - Get Address from Coordinates",
                "description": "\nGet address information from latitude and longitude coordinates.\n\n**Service**: Uses Nominatim geocoding service to convert coordinates to human-readable addresses.\n\n**Response**: Returns structured address information including:\n- Short address (concise format)\n- Long address (full detailed format)\n- ZIP/Postal code\n- Street name\n\n**Use Case**: Convert GPS coordinates to addresses for delivery locations.\n",
                "parameters": [
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude coordinate (-90 to 90)",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude coordinate (-180 to 180)",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/ReverseGeocodeResponse"
                        },
                        "examples": {
                            "application/json": {
                                "short_address": "12A, Amir Temur Street, Tashkent",
                                "long_address": "12A, Amir Temur Street, Yunusabad District, Tashkent, Uzbekistan",
                                "zip_code": "100000",
                                "street": "Amir Temur Street"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid coordinates provided",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Invalid coordinates provided",
                                "errors": {
                                    "latitude": [
                                        "Ensure this value is between -90 and 90."
                                    ],
                                    "longitude": [
                                        "Ensure this value is between -180 and 180."
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Geocoding service error",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Unable to retrieve address information"
                            }
                        }
                    }
                },
                "tags": [
                    "Location"
                ]
            },
            "parameters": []
        },
        "/common/address/suggestions/": {
            "get": {
                "operationId": "common_address_suggestions_list",
                "summary": "Address Suggestions - Search Locations",
                "description": "\nSearch for address suggestions based on a query string.\n\n**Service**: Uses Nominatim geocoding service to find matching addresses.\n\n**Features**:\n- Returns up to 5 relevant suggestions\n- Limited to Uzbekistan locations\n- Includes coordinates and formatted addresses\n\n**Response**: Returns a list of address suggestions with:\n- Latitude and longitude coordinates\n- Formatted address string\n\n**Use Case**: Auto-complete functionality for address input fields.\n",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Search query for location (minimum 2 characters)",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address suggestions retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/AddressSuggestionsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "message": "Address suggestions retrieved successfully",
                                "data": {
                                    "suggestions": [
                                        {
                                            "latitude": 41.3111,
                                            "longitude": 69.2797,
                                            "address": "Amir Temur Street, Tashkent, Uzbekistan"
                                        },
                                        {
                                            "latitude": 41.315,
                                            "longitude": 69.28,
                                            "address": "Amir Temur Square, Tashkent, Uzbekistan"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query provided",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Invalid query provided",
                                "errors": {
                                    "query": [
                                        "Ensure this field has at least 2 characters."
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Geocoding service error",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Unable to retrieve address suggestions"
                            }
                        }
                    }
                },
                "tags": [
                    "Location"
                ]
            },
            "parameters": []
        },
        "/common/banner/": {
            "get": {
                "operationId": "common_banner_list",
                "summary": "Get Active Banners",
                "description": "\nRetrieve a list of active banners for the application.\n\n**Features:**\n- Only active banners are returned\n- Ordered by the order field\n- No authentication required\n- No pagination (returns all active banners)\n\n**Use Case:**\nDisplay banners in the mobile app or website.\n",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Banners retrieved successfully",
                        "examples": {
                            "application/json": [
                                {
                                    "id": 1,
                                    "title": "Summer Sale",
                                    "image_url": "https://example.com/banners/summer_sale.jpg",
                                    "link": "https://example.com/sale",
                                    "order": 1,
                                    "is_active": true
                                },
                                {
                                    "id": 2,
                                    "title": "New Arrivals",
                                    "image_url": "https://example.com/banners/new_arrivals.jpg",
                                    "link": "https://example.com/new",
                                    "order": 2,
                                    "is_active": true
                                }
                            ]
                        }
                    }
                },
                "tags": [
                    "Common FAQ"
                ]
            },
            "parameters": []
        },
        "/common/card/identify/": {
            "get": {
                "operationId": "common_card_identify_list",
                "summary": "Identify Card Source and Vendor",
                "description": "\nIdentify the processing source and vendor of a card based on its number.\n\n**Purpose**: Determine card type and processing network for payment processing.\n\n**Features**:\n- Uses first 4-6 digits (BIN) for identification\n- Supports multiple card types (HUMO, UZCARD, VISA, MASTERCARD, etc.)\n- Fast lookup with optimized data structures\n- No authentication required (public endpoint)\n\n**Supported Card Types**:\n- HUMO (HUMO, VISA, MASTERCARD)\n- UZCARD (UZCARD, UNIONPAY, MIR, MASTERCARD)\n\n**Use Case**: Payment form validation and card type detection.\n\n**Note**: This endpoint only supports GET requests. Use the card_number query parameter.\n",
                "parameters": [
                    {
                        "name": "card_number",
                        "in": "query",
                        "description": "Card number (at least 4 digits)",
                        "required": true,
                        "type": "string",
                        "maxLength": 20,
                        "minLength": 4
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Card identified successfully",
                        "schema": {
                            "$ref": "#/definitions/CardIdentificationResponse"
                        },
                        "examples": {
                            "application/json": {
                                "source": "HUMO",
                                "vendor": "VISA"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid card number or card not recognized",
                        "examples": {
                            "application/json": {
                                "error": "Card number must have at least 4 digits"
                            }
                        }
                    },
                    "404": {
                        "description": "Card type not found",
                        "examples": {
                            "application/json": {
                                "error": "Card type not recognized"
                            }
                        }
                    }
                },
                "tags": [
                    "Card Identification"
                ]
            },
            "parameters": []
        },
        "/common/error-messages/": {
            "post": {
                "operationId": "common_error-messages_create",
                "summary": "Report Application Error",
                "description": "\nCreate a new error report for the application.\n\n**Requirements:**\n- User must be authenticated\n- Error type must exist\n- Message is required\n\n**Business Rules:**\n- Only authenticated users can report errors\n- Error type must be a valid ID from error types list\n- Message should be descriptive of the issue\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ApplicationErrorMessageCreate"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Error message created successfully",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "message": "Error report submitted successfully",
                                "error_message": {
                                    "id": 1,
                                    "error_types": 1,
                                    "error_type_name": "Technical Error",
                                    "user": 123,
                                    "user_name": "john_doe",
                                    "message": "App crashes when trying to checkout"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Error",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Invalid error type or missing message"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "tags": [
                    "Common FAQ"
                ]
            },
            "parameters": []
        },
        "/common/error-types/": {
            "get": {
                "operationId": "common_error-types_list",
                "summary": "Get Application Error Types",
                "description": "\nRetrieve a list of application error types for error reporting.\n\n**Features:**\n- Returns all available error types\n- Authentication required\n- No pagination (returns all error types)\n\n**Use Case:**\nDisplay error type options when users report application errors.\n",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Error types retrieved successfully",
                        "examples": {
                            "application/json": [
                                {
                                    "id": 1,
                                    "name": "Technical Error"
                                },
                                {
                                    "id": 2,
                                    "name": "Payment Issue"
                                },
                                {
                                    "id": 3,
                                    "name": "Delivery Problem"
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "tags": [
                    "Common FAQ"
                ]
            },
            "parameters": []
        },
        "/common/faqs/": {
            "get": {
                "operationId": "common_faqs_list",
                "summary": "Get Application FAQs",
                "description": "\nRetrieve a list of frequently asked questions for the application.\n\n**Features:**\n- Only active FAQs are returned\n- Ordered by the order field\n- No authentication required\n- No pagination (returns all active FAQs)\n\n**Use Case:**\nDisplay FAQ section in the mobile app or website.\n",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "FAQs retrieved successfully",
                        "examples": {
                            "application/json": [
                                {
                                    "id": 1,
                                    "question": "How do I place an order?",
                                    "answer": "You can place an order by browsing products and adding them to your cart.",
                                    "order": 1,
                                    "is_active": true
                                },
                                {
                                    "id": 2,
                                    "question": "What payment methods do you accept?",
                                    "answer": "We accept credit cards, debit cards, and mobile payments.",
                                    "order": 2,
                                    "is_active": true
                                }
                            ]
                        }
                    }
                },
                "tags": [
                    "Common FAQ"
                ]
            },
            "parameters": []
        },
        "/common/health-check/": {
            "get": {
                "operationId": "common_health-check_list",
                "description": "Comprehensive system health check endpoint",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "common"
                ]
            },
            "parameters": []
        },
        "/common/health-check/celery/": {
            "get": {
                "operationId": "common_health-check_celery_list",
                "description": "Celery-specific health check",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "common"
                ]
            },
            "parameters": []
        },
        "/common/health-check/celery/old/": {
            "get": {
                "operationId": "common_health-check_celery_old_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "common"
                ]
            },
            "parameters": []
        },
        "/common/health-check/database/": {
            "get": {
                "operationId": "common_health-check_database_list",
                "description": "Database-specific health check",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "common"
                ]
            },
            "parameters": []
        },
        "/common/health-check/redis/": {
            "get": {
                "operationId": "common_health-check_redis_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "common"
                ]
            },
            "parameters": []
        },
        "/common/health-check/simple/": {
            "get": {
                "operationId": "common_health-check_simple_list",
                "description": "Simple health check endpoint for load balancers and basic monitoring",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "common"
                ]
            },
            "parameters": []
        },
        "/common/privacy-policy/": {
            "get": {
                "operationId": "common_privacy-policy_read",
                "summary": "Get Privacy Policy",
                "description": "\nRetrieve the latest active privacy policy for the application.\n\n**Features:**\n- Returns only the most recent active privacy policy\n- No authentication required\n- Includes application policy, delivery policy, and contact information\n\n**Use Case:**\nDisplay privacy policy and terms of service in the app.\n",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Privacy policy retrieved successfully",
                        "examples": {
                            "application/json": {
                                "id": 1,
                                "application_policy": "This is our application privacy policy...",
                                "delivery_policy": "This is our delivery policy...",
                                "delivery_courier_phone": "+998901234567",
                                "delivery_support_email": "support@example.com",
                                "delivery_support_telegram": "@support_bot",
                                "is_active": true,
                                "created_at": "2024-12-23T10:30:00Z",
                                "updated_at": "2024-12-23T10:30:00Z"
                            }
                        }
                    },
                    "404": {
                        "description": "No active privacy policy found"
                    }
                },
                "tags": [
                    "Common FAQ"
                ]
            },
            "parameters": []
        },
        "/deleted-account-reason/": {
            "post": {
                "operationId": "deleted-account-reason_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeletedAccountReason"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DeletedAccountReason"
                        }
                    }
                },
                "tags": [
                    "deleted-account-reason"
                ]
            },
            "parameters": []
        },
        "/delivery/courier-balance/": {
            "get": {
                "operationId": "delivery_courier-balance_list",
                "summary": "Courier Balance API",
                "description": "Returns the courier’s total earnings and list of balance records with order details.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "example": true
                                },
                                "total_earnings": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 450000.0
                                },
                                "orders": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "order_id": {
                                                "type": "integer"
                                            },
                                            "order_number": {
                                                "type": "string"
                                            },
                                            "order_status": {
                                                "type": "string"
                                            },
                                            "courier": {
                                                "type": "integer"
                                            },
                                            "amount": {
                                                "type": "number"
                                            },
                                            "branch": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "date": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "payment_type": {
                                                "type": "string",
                                                "nullable": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "User has no courier profile",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "example": false
                                },
                                "message": {
                                    "type": "string",
                                    "example": "User has no courier profile."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "detail": {
                                    "type": "string",
                                    "example": "Authentication credentials were not provided."
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Courier Balance"
                ]
            },
            "parameters": []
        },
        "/delivery/courier-request-validation/": {
            "post": {
                "operationId": "delivery_courier-request-validation_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CourierValidationRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CourierValidationRequest"
                        }
                    }
                },
                "tags": [
                    "delivery"
                ]
            },
            "parameters": []
        },
        "/delivery/orders/": {
            "get": {
                "operationId": "delivery_orders_list",
                "description": "",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CourierOrderList"
                            }
                        }
                    }
                },
                "tags": [
                    "delivery"
                ]
            },
            "parameters": []
        },
        "/delivery/orders/accept/": {
            "post": {
                "operationId": "delivery_orders_accept_create",
                "description": "Accept an order for couriers.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CourierAcceptOrder"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CourierAcceptOrder"
                        }
                    }
                },
                "tags": [
                    "delivery"
                ]
            },
            "parameters": []
        },
        "/delivery/orders/finish/": {
            "post": {
                "operationId": "delivery_orders_finish_create",
                "description": "",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "delivery"
                ]
            },
            "parameters": []
        },
        "/delivery/orders/return-products/": {
            "post": {
                "operationId": "delivery_orders_return-products_create",
                "summary": "Return Products",
                "description": "\nReturn products from an order by the authenticated courier.\n\n**Business Rules:**\n- Only orders assigned to the authenticated courier can have products returned\n- Order must be in 'delivered' or 'out_for_delivery' status\n- Returned quantity cannot exceed the ordered quantity for each item\n- Returned quantity can be 0 (no return) up to the maximum ordered quantity\n- Updates returned_quantity and returned_amount in OrderItem\n- Updates refund_amount in Order (sum of all returned amounts)\n\n**Validation:**\n- SKU must exist in the order\n- Returned quantity must be between 0 and ordered quantity\n- All calculations are done in atomic transaction\n\n**Response:**\n- Success: Returns total refund amount and count of returned items\n- Failure: Returns appropriate error message with details\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ReturnProducts"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ReturnProductsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "examples": {
                            "application/json": [
                                {
                                    "summary": "Order not assigned to courier",
                                    "value": {
                                        "success": false,
                                        "message": "This order is not assigned to you"
                                    }
                                },
                                {
                                    "summary": "Invalid returned quantity",
                                    "value": {
                                        "success": false,
                                        "message": "Returned quantity (3) cannot exceed ordered quantity (2) for SKU ID 123"
                                    }
                                },
                                {
                                    "summary": "Product not found in order",
                                    "value": {
                                        "success": false,
                                        "message": "Product with SKU ID 123 not found in this order"
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Order not found"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "tags": [
                    "Courier"
                ]
            },
            "parameters": []
        },
        "/delivery/orders/upload-refund-image/": {
            "post": {
                "operationId": "delivery_orders_upload-refund-image_create",
                "summary": "Upload Refund Images",
                "description": "\nUpload multiple refund images for an order by the authenticated courier.\n\n**Business Rules:**\n- Only orders assigned to the authenticated courier can have refund images uploaded\n- Order must be in 'delivered' or 'out_for_delivery' status\n- Images are stored in the 'refund_images' directory\n- Multiple images can be uploaded in a single request\n- Each image creates a separate RefundOrderImage record\n\n**File Requirements:**\n- Must be valid image files\n- Supported formats: JPG, PNG, GIF, etc.\n- File size limits apply based on Django settings\n- At least one image must be provided (images list cannot be empty)\n\n**Request Format:**\n- Use multipart/form-data\n- order_id: integer\n- images: array of image files\n\n**Response:**\n- Success: Returns list of uploaded images with their IDs and URLs\n- Failure: Returns appropriate error message with details\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RefundImageUpload"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/RefundImageUploadResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "examples": {
                            "application/json": [
                                {
                                    "summary": "Order not assigned to courier",
                                    "value": {
                                        "success": false,
                                        "message": "This order is not assigned to you"
                                    }
                                },
                                {
                                    "summary": "Invalid order status",
                                    "value": {
                                        "success": false,
                                        "message": "Order is not in a valid status for uploading refund images"
                                    }
                                },
                                {
                                    "summary": "Empty images list",
                                    "value": {
                                        "success": false,
                                        "message": "At least one image must be provided"
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "Order not found"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "tags": [
                    "Courier"
                ]
            },
            "parameters": []
        },
        "/delivery/orders/{id}/": {
            "get": {
                "operationId": "delivery_orders_read",
                "summary": "Get Courier Order Detail",
                "description": "\nGet detailed information about a specific order for couriers.\n\n**Access Control:**\n- Couriers can only access orders that are either:\n  - NEW orders (not attached to any courier)\n  - Orders attached to this specific courier\n\n**Response includes:**\n- Order ID and basic information\n- Complete delivery information (recipient, address, timing, etc.)\n- Branch information (store details, location, images)\n- Financial information (delivery fee, total amount, refund amount)\n- Refund images (list of uploaded refund images with IDs and URLs)\n- Detailed order items (products, quantities, returned quantities, prices, images)\n\n**Use Cases:**\n- View order details before accepting\n- Get delivery instructions and recipient information\n- Access product details and quantities\n- Review financial information\n",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CourierOrderDetail"
                        }
                    },
                    "404": {
                        "description": "Order not found or not accessible"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "tags": [
                    "Courier"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/delivery/profile/": {
            "get": {
                "operationId": "delivery_profile_read",
                "summary": "Get Courier Profile",
                "description": "\nRetrieve the courier profile for the authenticated user.\n\n**Features:**\n- Returns complete courier profile information\n- Includes user details (username, full name, email)\n- Provides image URLs for uploaded documents\n- Shows courier status and rating information\n- Automatically creates profile if it doesn't exist\n\n**Response Fields:**\n- **id** - Courier profile ID\n- **user_id** - User ID\n- **username** - User's username\n- **full_name** - User's full name\n- **email** - User's email\n- **phone_number** - User's phone number\n- **avatar** - User's avatar image file path\n- **avatar_url** - Full URL to user's avatar image\n- **car_number** - Car number/plate\n- **car_passport_number** - Car passport number\n- **delivery_method** - Preferred delivery method (car, scooter, bike_or_foot)\n- **driving_licence_number** - Driving licence number\n- **driving_licence_image** - Driving licence image file path\n- **driving_licence_image_url** - Full URL to driving licence image\n- **car_front_image** - Car front image file path\n- **car_front_image_url** - Full URL to car front image\n- **car_back_image** - Car back image file path\n- **car_back_image_url** - Full URL to car back image\n- **courier_id** - Unique courier identifier\n- **rating** - Courier rating (0-5)\n- **is_online** - Online status\n- **is_active** - Active status (admin controlled)\n- **created_at** - Profile creation timestamp\n- **updated_at** - Last update timestamp\n",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CourierProfile"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "tags": [
                    "Courier"
                ]
            },
            "put": {
                "operationId": "delivery_profile_update",
                "summary": "Get and update courier profile for the authenticated user",
                "description": "This API allows couriers to view and update their profile information.\nIf the user doesn't have a courier profile, one will be created automatically.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CourierProfile"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CourierProfile"
                        }
                    }
                },
                "tags": [
                    "delivery"
                ]
            },
            "patch": {
                "operationId": "delivery_profile_partial_update",
                "summary": "Update Courier Profile",
                "description": "\nUpdate the courier profile for the authenticated user.\n\n**Updatable Fields:**\n- **car_number** - Car number/plate\n- **car_passport_number** - Car passport number\n- **delivery_method** - Preferred delivery method (car, scooter, bike_or_foot)\n- **driving_licence_number** - Driving licence number\n- **driving_licence_image** - Driving licence image file\n- **car_front_image** - Car front image file\n- **car_back_image** - Car back image file\n- **is_online** - Online status\n\n**Auto-Generated Fields:**\n- **courier_id** - Automatically generated based on delivery method:\n  - Car delivery: Uses car_number as courier_id\n  - Scooter/Bike delivery: Generated as COURIER001, COURIER002, etc.\n- **rating** - Automatically calculated from customer reviews\n\n**Business Rules:**\n- Only authenticated users can update their own profile\n- Delivery method must be one of the allowed choices\n- Profile is created automatically if it doesn't exist\n- Image files are uploaded to designated directories\n- Rating is automatically calculated from customer reviews\n\n**Validation:**\n- All fields are optional for PATCH requests\n- Invalid delivery methods are rejected\n- File uploads are validated for image formats\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CourierProfileUpdate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "examples": {
                            "application/json": {
                                "id": 1,
                                "user_id": 123,
                                "username": "courier_user",
                                "full_name": "John Doe",
                                "email": "courier@example.com",
                                "phone_number": "+998901234567",
                                "avatar": "/media/avatars/courier_avatar.jpg",
                                "avatar_url": "https://example.com/media/avatars/courier_avatar.jpg",
                                "car_number": "ABC123",
                                "car_passport_number": "PP789456",
                                "delivery_method": "car",
                                "driving_licence_number": "DL123456789",
                                "driving_licence_image": "/media/delivery_photos/licence.jpg",
                                "driving_licence_image_url": "https://example.com/media/delivery_photos/licence.jpg",
                                "car_front_image": "/media/delivery_cars/car_front.jpg",
                                "car_front_image_url": "https://example.com/media/delivery_cars/car_front.jpg",
                                "car_back_image": "/media/delivery_cars/car_back.jpg",
                                "car_back_image_url": "https://example.com/media/delivery_cars/car_back.jpg",
                                "courier_id": "COU001",
                                "rating": 4.5,
                                "is_online": true,
                                "is_active": false,
                                "created_at": "2024-12-23T10:30:00Z",
                                "updated_at": "2024-12-23T11:45:00Z"
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Error",
                        "examples": {
                            "application/json": {
                                "delivery_method": [
                                    "Invalid delivery method. Must be one of: car, scooter, bike_or_foot"
                                ],
                                "rating": [
                                    "Rating must be between 0 and 5"
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "tags": [
                    "Courier"
                ]
            },
            "parameters": []
        },
        "/delivery/review-suggestions/": {
            "get": {
                "operationId": "delivery_review-suggestions_list",
                "summary": "Get Order Review Suggestions",
                "description": "\nRetrieve a list of order review suggestions that can be used when clients\nare rating their delivery experience.\n\n**Features:**\n- Filter by rating (1-5 stars)\n- Order by rating or ID\n- Authenticated users only\n- No pagination (returns all matching results)\n\n**Use Case:**\nWhen a client is rating their delivery experience, this API provides\npre-written review suggestions based on the rating they select.\n",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Order by field (id, -id, rating, -rating)",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "id",
                            "-id",
                            "rating",
                            "-rating"
                        ]
                    },
                    {
                        "name": "rating",
                        "in": "query",
                        "description": "Filter by rating (1-5)",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Review suggestions retrieved successfully",
                        "examples": {
                            "application/json": [
                                {
                                    "id": 1,
                                    "rating": 5,
                                    "text": "Excellent delivery service! Very fast and professional."
                                },
                                {
                                    "id": 2,
                                    "rating": 5,
                                    "text": "Perfect delivery experience. Highly recommended!"
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "tags": [
                    "Delivery Reviews"
                ]
            },
            "parameters": []
        },
        "/delivery/reviews/create/": {
            "post": {
                "operationId": "delivery_reviews_create_create",
                "summary": "Create Order Client Review",
                "description": "\nCreate a review for a delivered order. This allows clients to rate\ntheir delivery experience and provide feedback.\n\n**Requirements:**\n- Order must belong to the authenticated user\n- Order must be in 'delivered' status\n- User can only review each order once\n- Courier must be assigned to the order\n\n**Business Rules:**\n- Only delivered orders can be reviewed\n- One review per order per client\n- Rating must be between 1-5 stars\n- Review text is required\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrderClientReviewCreate"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Review created successfully",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "message": "Review created successfully",
                                "review": {
                                    "id": 1,
                                    "order": 123,
                                    "order_number": "ORD20241223001",
                                    "client": 456,
                                    "client_name": "John Doe",
                                    "courier": 789,
                                    "courier_name": "Mike Smith",
                                    "rating_star": 5,
                                    "review": "Excellent delivery service!",
                                    "created_at": "2024-12-23T10:30:00Z"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Error",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "message": "You can only review delivered orders"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "tags": [
                    "Delivery Reviews"
                ]
            },
            "parameters": []
        },
        "/location-icons/": {
            "get": {
                "operationId": "location-icons_list",
                "summary": "Get Location Icons List",
                "description": "\nRetrieve a list of all available location icons.\n\n**Purpose**: Provides icons that users can select when creating or updating their delivery locations.\n\n**Features**:\n- Returns all available location icons (no pagination)\n- Includes icon URLs for easy access\n- No authentication required (public endpoint)\n- Ordered by creation date (newest first)\n\n**Use Case**: Populate icon selection dropdown in location creation/update forms.\n",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Location icons retrieved successfully",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LocationIcon"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "id": 1,
                                    "title": "Home",
                                    "icon": "/media/icons/home_icon.png",
                                    "icon_url": "http://localhost:8000/media/icons/home_icon.png",
                                    "created_at": "2024-01-15T10:30:00Z",
                                    "updated_at": "2024-01-15T10:30:00Z"
                                },
                                {
                                    "id": 2,
                                    "title": "Office",
                                    "icon": "/media/icons/office_icon.png",
                                    "icon_url": "http://localhost:8000/media/icons/office_icon.png",
                                    "created_at": "2024-01-15T10:25:00Z",
                                    "updated_at": "2024-01-15T10:25:00Z"
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "examples": {
                            "application/json": {
                                "detail": "A server error occurred."
                            }
                        }
                    }
                },
                "tags": [
                    "Profile"
                ]
            },
            "parameters": []
        },
        "/locations/": {
            "get": {
                "operationId": "locations_list",
                "summary": "List User Locations",
                "description": "\nRetrieve all locations for the current authenticated user.\n\n**Authentication Required**: This endpoint requires a valid JWT access token.\n\n**Ordering**: Locations are ordered by:\n1. Active location first (is_active=True)\n2. Most recently created locations first\n\n**Response**: Returns a list of user's saved locations with:\n- Location details (title, address, coordinates)\n- Delivery information (apartment, entrance, floor, door password)\n- Location icon information (if selected)\n- Active status and creation date\n\n**Address Field**: The address field is automatically populated using reverse geocoding\nwhen coordinates are provided during location creation or updates.\n",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
[...]
