@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-enter-active {
  animation: fade 0.3s ease-in-out;
}

.fade-leave-active {
  animation: fade 0.3s ease-in-out reverse;
}

.fade-fast-enter-active {
  animation: fade 0.1s ease-in-out;
}
.fade-fast-leave-active {
  animation: fade 0.1s ease-in-out reverse;
}
