@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-enter-active {
  animation: fade 0.3s ease-in-out;
}

.fade-leave-active {
  animation: fade 0.3s ease-in-out reverse;
}

.fade-fast-enter-active {
  animation: fade 0.1s ease-in-out;
}
.fade-fast-leave-active {
  animation: fade 0.1s ease-in-out reverse;
}


.shimmer {
  background-color: #f6f7f8;
  background-image: linear-gradient(
          to right,
          #f6f7f8 0%,
          #edeef1 20%,
          #f6f7f8 40%,
          #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  cursor: progress;
}

.shimmer-wrapper.dark .shimmer {
  background: linear-gradient(
          to right,
          #25323d 10%,
          #2e3c48 35.78%,
          #25323d 73.28%
  ) !important;
}

@keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}
