@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utils {
    .transition-300 {
        @apply transition-all duration-300;
    }
    .transition-200 {
        @apply transition-all duration-200;
    }
    .absolute-x {
        @apply absolute !-translate-x-1/2 !left-1/2;
    }
    .absolute-y {
        @apply absolute !-translate-y-1/2 !top-1/2;
    }
    .absolute-center {
        @apply absolute-x absolute-y;
    }
    .flex-y-center {
        @apply flex items-center;
    }
    .flex-x-center {
        @apply flex justify-center;
    }
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-center-between {
        @apply flex justify-between items-center;
    }
    .flex-between {
        @apply flex justify-between;
    }
}

.nuxt-icon {
    @apply !mb-0;
}